#name{
    padding: 5px;
    
    margin: 2.5%;
}
#age{
    padding: 5px;
    
    margin: 3%;
}

#weight{
    padding: 5px;
    
    margin: 0.1%;
    }


.body{
text-align: left;
margin:2% ;
}
p{ display: inline }

button{


    padding: 18px;
    padding-right: 62px;
    padding-left: 62px;
    margin-left: 20px;

}

body{
    margin-left:40px ;
}

